body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5027 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u5027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5028 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u5028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5029 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u5029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u5030 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u5030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u5031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:41px;
}
#u5031 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:676px;
  width:373px;
  height:40px;
}
#u5031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  word-wrap:break-word;
}
#u5032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u5032 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:80px;
  width:97px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5034 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:64px;
  text-align:left;
}
#u5034_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:26px;
  width:363px;
  word-wrap:break-word;
}
#u5035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5035 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:129px;
  width:29px;
  height:16px;
}
#u5035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:17px;
}
#u5036 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:149px;
  width:190px;
  height:16px;
}
#u5036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u5037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5037 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:126px;
  width:20px;
  height:20px;
}
#u5037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5039 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:169px;
  width:375px;
  height:64px;
  text-align:left;
}
#u5039_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:26px;
  width:363px;
  word-wrap:break-word;
}
#u5040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5040 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:184px;
  width:29px;
  height:16px;
}
#u5040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:17px;
}
#u5041 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:204px;
  width:190px;
  height:16px;
}
#u5041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u5042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5042 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:190px;
  width:20px;
  height:20px;
}
#u5042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5043 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:193px;
  width:15px;
  height:15px;
}
#u5043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5044 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:82px;
  width:29px;
  height:16px;
}
#u5044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
