body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u5678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u5679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u5680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u5681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u5682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:83px;
  width:69px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u5682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:85px;
  width:29px;
  height:16px;
}
#u5683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:183px;
  width:375px;
  height:40px;
}
#u5684_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:363px;
  word-wrap:break-word;
}
#u5685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:223px;
  width:375px;
  height:30px;
  text-align:left;
}
#u5685_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:363px;
  word-wrap:break-word;
}
#u5686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:128px;
  width:57px;
  height:16px;
}
#u5686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:153px;
  width:48px;
  height:18px;
}
#u5687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
#u5688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:279px;
  width:57px;
  height:16px;
}
#u5688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:237px;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:300px;
  width:356px;
  height:236px;
  text-align:left;
}
#u5689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:352px;
  word-wrap:break-word;
}
#u5690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:679px;
  width:157px;
  height:28px;
}
#u5690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u5691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:33px;
}
#u5691 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:546px;
  width:317px;
  height:32px;
}
#u5691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u5693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5693 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:114px;
  width:375px;
  height:603px;
}
#u5693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5694 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:50px;
  width:375px;
  height:64px;
}
#u5694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5695 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:50px;
  width:375px;
  height:28px;
}
#u5695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u5696 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:82px;
  width:56px;
  height:20px;
}
#u5696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u5697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u5697 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:83px;
  width:69px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u5697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5698 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:85px;
  width:29px;
  height:16px;
}
#u5698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5699 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:183px;
  width:375px;
  height:40px;
}
#u5699_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:363px;
  word-wrap:break-word;
}
#u5700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u5700 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:223px;
  width:375px;
  height:30px;
  text-align:left;
}
#u5700_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:363px;
  word-wrap:break-word;
}
#u5701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u5701 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:128px;
  width:57px;
  height:16px;
}
#u5701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u5702 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:279px;
  width:57px;
  height:16px;
}
#u5702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:237px;
}
#u5703 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:300px;
  width:356px;
  height:236px;
  text-align:left;
}
#u5703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:352px;
  word-wrap:break-word;
}
#u5704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
}
#u5704 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:679px;
  width:157px;
  height:28px;
}
#u5704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u5705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:33px;
}
#u5705 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:546px;
  width:317px;
  height:32px;
}
#u5705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u5706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u5706 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:154px;
  width:48px;
  height:18px;
}
#u5706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:44px;
  word-wrap:break-word;
}
