body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u3708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u3709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u3710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u3711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u3712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:85px;
  width:29px;
  height:16px;
}
#u3712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:83px;
  width:69px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u3714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:40px;
}
#u3714_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:363px;
  word-wrap:break-word;
}
#u3715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:168px;
  width:375px;
  height:30px;
  text-align:left;
}
#u3715_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:363px;
  word-wrap:break-word;
}
#u3716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u3716 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:198px;
  width:375px;
  height:30px;
  text-align:left;
}
#u3716_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:363px;
  word-wrap:break-word;
}
#u3717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:345px;
}
#u3718 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:281px;
  width:375px;
  height:344px;
  text-align:left;
}
#u3718_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:363px;
  word-wrap:break-word;
}
#u3719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u3719 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:407px;
  width:360px;
  height:1px;
  text-align:left;
}
#u3719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u3720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u3720 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:326px;
  width:360px;
  height:1px;
  text-align:left;
}
#u3720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u3721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:495px;
  width:360px;
  height:1px;
  text-align:left;
}
#u3721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
