body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1808px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u5909 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:101px;
  width:375px;
  height:667px;
}
#u5909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5910 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:101px;
  width:375px;
  height:64px;
}
#u5910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5911 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:101px;
  width:375px;
  height:28px;
}
#u5911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u5912 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:133px;
  width:56px;
  height:20px;
}
#u5912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u5913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:151px;
}
#u5913 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:493px;
  width:362px;
  height:150px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:358px;
  word-wrap:break-word;
}
#u5914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:49px;
}
#u5915 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:719px;
  width:375px;
  height:48px;
}
#u5915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u5916 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:726px;
  width:63px;
  height:35px;
  color:#FFFFFF;
}
#u5916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u5917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u5917 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:726px;
  width:63px;
  height:35px;
  color:#FFFFFF;
}
#u5917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u5918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:17px;
}
#u5918 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:651px;
  width:121px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
}
#u5918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:33px;
}
#u5919 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:677px;
  width:360px;
  height:32px;
}
#u5919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u5920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
}
#u5920 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:651px;
  width:55px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:236px;
}
#u5921 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:474px;
  width:324px;
  height:225px;
  color:#FFFFFF;
}
#u5921_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:304px;
  word-wrap:break-word;
}
#u5922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:60px;
}
#u5922 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:719px;
  width:232px;
  height:49px;
  color:#FFFFFF;
}
#u5922_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u5923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:102px;
  height:19px;
}
#u5923p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:100px;
  height:6px;
}
#u5923p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:8px;
}
#u5923p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u5923p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5923p002 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5923p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:22px;
}
#u5923 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:551px;
  width:93px;
  height:1px;
}
#u5923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:96px;
  height:19px;
}
#u5924p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:6px;
}
#u5924p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:8px;
}
#u5924p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u5924p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5924p002 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5924p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:22px;
}
#u5924 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:743px;
  width:87px;
  height:1px;
}
#u5924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
}
#u5925 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:138px;
  width:46px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
}
#u5925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5926 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:232px;
  width:40px;
  height:40px;
}
#u5926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u5927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u5927 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:282px;
  width:70px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
}
#u5927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u5928_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u5928 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:126px;
  width:30px;
  height:40px;
}
#u5928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u5929_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u5929 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:239px;
  width:30px;
  height:40px;
}
#u5929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u5930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:220px;
}
#u5930 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:101px;
  width:330px;
  height:209px;
  color:#FFFFFF;
}
#u5930_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:310px;
  word-wrap:break-word;
}
#u5931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:70px;
}
#u5931 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:366px;
  width:300px;
  height:69px;
}
#u5931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u5932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:45px;
}
#u5932 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:435px;
  width:150px;
  height:44px;
}
#u5932_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u5933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:45px;
}
#u5933 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:435px;
  width:150px;
  height:44px;
}
#u5933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u5934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5935 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:132px;
  width:100px;
  height:60px;
}
#u5935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5936 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:132px;
  width:100px;
  height:60px;
}
#u5936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5937 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:132px;
  width:100px;
  height:60px;
}
#u5937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5938 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:162px;
  width:0px;
  height:0px;
}
#u5938_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u5938_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5938_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5939 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:162px;
  width:0px;
  height:0px;
}
#u5939_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u5939_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5939_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5940 {
  border-width:0px;
  position:absolute;
  left:1546px;
  top:132px;
  width:100px;
  height:60px;
}
#u5940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5941 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:162px;
  width:0px;
  height:0px;
}
#u5941_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u5941_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5941_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5942 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:265px;
  width:100px;
  height:60px;
}
#u5942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5943 {
  border-width:0px;
  position:absolute;
  left:1257px;
  top:192px;
  width:0px;
  height:0px;
}
#u5943_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u5943_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:61px;
  width:18px;
  height:18px;
}
#u5943_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u5944 {
  border-width:0px;
  position:absolute;
  left:1596px;
  top:192px;
  width:0px;
  height:0px;
}
#u5944_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:107px;
}
#u5944_seg1 {
  border-width:0px;
  position:absolute;
  left:-289px;
  top:99px;
  width:293px;
  height:8px;
}
#u5944_seg2 {
  border-width:0px;
  position:absolute;
  left:-295px;
  top:94px;
  width:18px;
  height:18px;
}
#u5944_text {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:95px;
  width:100px;
  word-wrap:break-word;
}
#u5945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5945 {
  border-width:0px;
  position:absolute;
  left:1708px;
  top:132px;
  width:100px;
  height:60px;
}
#u5945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5946 {
  border-width:0px;
  position:absolute;
  left:1646px;
  top:162px;
  width:0px;
  height:0px;
}
#u5946_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u5946_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5946_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
