body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u6415 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u6415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u6416 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u6416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u6417 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u6417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u6418 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u6418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u6419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u6419 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:85px;
  width:29px;
  height:16px;
}
#u6419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u6420 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:83px;
  width:69px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u6421 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:40px;
}
#u6421_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:363px;
  word-wrap:break-word;
}
#u6422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u6422 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:168px;
  width:375px;
  height:30px;
  text-align:left;
}
#u6422_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:363px;
  word-wrap:break-word;
}
#u6423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u6423 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:198px;
  width:375px;
  height:30px;
  text-align:left;
}
#u6423_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:363px;
  word-wrap:break-word;
}
#u6424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:345px;
}
#u6425 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:281px;
  width:375px;
  height:344px;
  text-align:left;
}
#u6425_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:363px;
  word-wrap:break-word;
}
#u6426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u6426 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:407px;
  width:360px;
  height:1px;
  text-align:left;
}
#u6426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u6427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u6427 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:326px;
  width:360px;
  height:1px;
  text-align:left;
}
#u6427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u6428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u6428 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:495px;
  width:360px;
  height:1px;
  text-align:left;
}
#u6428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
