body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1963px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u2864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:824px;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:823px;
}
#u2865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:814px;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:813px;
}
#u2866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:815px;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:814px;
}
#u2867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u2868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u2869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u2870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:74px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u2870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:57px;
  width:50px;
  height:50px;
}
#u2871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:51px;
  width:40px;
  height:62px;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u2873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u2874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.847058823529412);
}
#u2874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u2875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u2875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u2876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:55px;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:122px;
  width:284px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:22px;
}
#u2876_img.mouseOver {
}
#u2876.mouseOver {
}
#u2876_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u2877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:41px;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:311px;
  width:1129px;
  height:40px;
  color:#333333;
  text-align:left;
}
#u2877_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1107px;
  word-wrap:break-word;
}
#u2878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:41px;
}
#u2878 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:190px;
  width:1129px;
  height:40px;
  color:#333333;
  text-align:left;
}
#u2878_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1107px;
  word-wrap:break-word;
}
#u2879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:56px;
}
#u2879 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:230px;
  width:1129px;
  height:55px;
  color:#333333;
  text-align:left;
}
#u2879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:351px;
  width:1129px;
  height:90px;
}
#u2881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:0px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:0px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:0px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:0px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:0px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:31px;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:0px;
  width:163px;
  height:30px;
  color:#333333;
}
#u2887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u2888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:30px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:30px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:30px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:30px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:30px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:31px;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:30px;
  width:163px;
  height:30px;
  color:#333333;
}
#u2894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u2895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:60px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:60px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:60px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:60px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:60px;
  width:161px;
  height:30px;
  color:#333333;
}
#u2900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:31px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:60px;
  width:163px;
  height:30px;
  color:#333333;
}
#u2901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:240px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
  line-height:22px;
}
#u2903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u2904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:33px;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:240px;
  width:185px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u2904_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:173px;
  word-wrap:break-word;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:240px;
  width:240px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u2909_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:6px;
  width:220px;
  word-wrap:break-word;
}
#u2910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:240px;
  width:43px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
  line-height:22px;
}
#u2910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u2911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:250px;
  width:15px;
  height:16px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u2911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:219px;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:214px;
  width:433px;
  height:208px;
  color:#FFFFFF;
}
#u2912_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:413px;
  word-wrap:break-word;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:120px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u2914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u2915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:157px;
  width:187px;
  height:35px;
}
#u2915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:194px;
  width:187px;
  height:35px;
}
#u2916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:454px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u2917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u2918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:491px;
  width:187px;
  height:35px;
}
#u2918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:268px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u2919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u2920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:305px;
  width:187px;
  height:35px;
}
#u2920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:342px;
  width:187px;
  height:35px;
}
#u2921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:379px;
  width:187px;
  height:35px;
}
#u2922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:231px;
  width:187px;
  height:35px;
}
#u2923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:416px;
  width:187px;
  height:35px;
}
#u2924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:528px;
  width:187px;
  height:35px;
}
#u2925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:565px;
  width:187px;
  height:35px;
}
#u2926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2927 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:602px;
  width:187px;
  height:35px;
}
#u2927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:639px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u2928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u2929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2929 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:676px;
  width:187px;
  height:35px;
}
#u2929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2930 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:713px;
  width:187px;
  height:35px;
}
#u2930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u2931 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:750px;
  width:187px;
  height:35px;
}
#u2931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
