body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:135px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:24px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:85px;
  height:23px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
