body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u3685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u3686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u3687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u3688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u3689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:41px;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:676px;
  width:373px;
  height:40px;
}
#u3689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  word-wrap:break-word;
}
#u3690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:80px;
  width:97px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:64px;
  text-align:left;
}
#u3692_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:26px;
  width:363px;
  word-wrap:break-word;
}
#u3693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:129px;
  width:29px;
  height:16px;
}
#u3693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:17px;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:149px;
  width:190px;
  height:16px;
}
#u3694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u3695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:126px;
  width:20px;
  height:20px;
}
#u3695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:169px;
  width:375px;
  height:64px;
  text-align:left;
}
#u3697_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:26px;
  width:363px;
  word-wrap:break-word;
}
#u3698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:184px;
  width:29px;
  height:16px;
}
#u3698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:17px;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:204px;
  width:190px;
  height:16px;
}
#u3699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u3700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:190px;
  width:20px;
  height:20px;
}
#u3700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:193px;
  width:15px;
  height:15px;
}
#u3701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:82px;
  width:29px;
  height:16px;
}
#u3702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
