body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2161px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:824px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:823px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:814px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:813px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:815px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:814px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:74px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:57px;
  width:50px;
  height:50px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:51px;
  width:40px;
  height:62px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:51px;
  width:40px;
  height:62px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:51px;
  width:40px;
  height:62px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:51px;
  width:40px;
  height:62px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:51px;
  width:40px;
  height:62px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:315px;
  width:138px;
  height:35px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:360px;
  width:138px;
  height:35px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:411px;
  width:138px;
  height:35px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:467px;
  width:138px;
  height:35px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:522px;
  width:138px;
  height:35px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:55px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:122px;
  width:284px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u185_img.mouseOver {
}
#u185.mouseOver {
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:122px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:159px;
  width:187px;
  height:35px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:194px;
  width:187px;
  height:35px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:57px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:186px;
  width:486px;
  height:56px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:460px;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:120px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:390px;
  width:486px;
  height:119px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:37px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:439px;
  width:486px;
  height:36px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:20px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:8px;
  width:438px;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:488px;
  width:57px;
  height:20px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:20px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:488px;
  width:74px;
  height:20px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:right;
  line-height:20px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:415px;
  width:84px;
  height:24px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:104px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:281px;
  width:486px;
  height:103px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:37px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:317px;
  width:456px;
  height:36px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:20px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:8px;
  width:408px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:357px;
  width:57px;
  height:20px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:20px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:357px;
  width:81px;
  height:20px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:right;
  line-height:20px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:293px;
  width:84px;
  height:24px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:113px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:517px;
  width:486px;
  height:112px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:57px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:539px;
  width:477px;
  height:56px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:20px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:8px;
  width:429px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:607px;
  width:57px;
  height:20px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:20px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:607px;
  width:74px;
  height:20px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:right;
  line-height:20px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:524px;
  width:69px;
  height:24px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:202px;
  width:30px;
  height:40px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:336px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:177px;
  width:642px;
  height:325px;
  color:#FFFFFF;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:622px;
  word-wrap:break-word;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:114px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:337px;
  width:486px;
  height:113px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:37px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:386px;
  width:415px;
  height:36px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:20px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:8px;
  width:367px;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:1676px;
  top:422px;
  width:57px;
  height:20px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:20px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:1811px;
  top:422px;
  width:81px;
  height:20px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:right;
  line-height:20px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:1666px;
  top:362px;
  width:84px;
  height:24px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:364px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:396px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:424px;
  width:91px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:53px;
  height:31px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:1628px;
  top:430px;
  width:38px;
  height:5px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:83px;
  height:31px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:1598px;
  top:402px;
  width:68px;
  height:5px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:91px;
  height:31px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:1598px;
  top:372px;
  width:76px;
  height:5px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:147px;
  width:30px;
  height:40px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
