body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u4343 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u4343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u4344 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u4344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u4345 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u4345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u4346 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:87px;
  width:8px;
  height:16px;
}
#u4346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u4347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u4347 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:87px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u4347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u4348 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:87px;
  width:22px;
  height:16px;
  text-align:right;
}
#u4348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u4349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u4349 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:330px;
  width:375px;
  height:40px;
  text-align:left;
}
#u4349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u4350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u4350 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:370px;
  width:375px;
  height:40px;
  text-align:left;
}
#u4350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u4351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
}
#u4351 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:435px;
  width:335px;
  height:40px;
}
#u4351_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  word-wrap:break-word;
}
#u4352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:171px;
}
#u4352 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:119px;
  width:368px;
  height:170px;
}
#u4352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u4353 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:144px;
  width:70px;
  height:70px;
}
#u4353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u4354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
}
#u4354 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:224px;
  width:31px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u4354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
