body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5396 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u5396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5397 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u5397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5398 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u5398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u5399 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u5399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u5400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u5400 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:242px;
  width:300px;
  height:170px;
}
#u5400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
