body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:426px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u2917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:65px;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:54px;
}
#u2918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u2919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:41px;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:677px;
  width:376px;
  height:40px;
}
#u2920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:372px;
  word-wrap:break-word;
}
#u2921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:80px;
  width:65px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:105px;
  width:375px;
  height:40px;
  text-align:left;
}
#u2922_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:113px;
  width:285px;
  height:25px;
}
#u2923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:145px;
  width:375px;
  height:40px;
  text-align:left;
}
#u2924_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:153px;
  width:285px;
  height:25px;
}
#u2925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:185px;
  width:375px;
  height:40px;
  text-align:left;
}
#u2926_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u2927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2927 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:197px;
  width:43px;
  height:16px;
}
#u2927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:225px;
  width:375px;
  height:40px;
  text-align:left;
}
#u2928_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u2929 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:233px;
  width:285px;
  height:25px;
}
#u2929_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
