body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u6000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u6001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u6002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u6003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u6004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:85px;
  width:29px;
  height:16px;
}
#u6004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:83px;
  width:69px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:40px;
}
#u6006_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:363px;
  word-wrap:break-word;
}
#u6007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:168px;
  width:375px;
  height:30px;
  text-align:left;
}
#u6007_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:363px;
  word-wrap:break-word;
}
#u6008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:198px;
  width:375px;
  height:30px;
  text-align:left;
}
#u6008_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:363px;
  word-wrap:break-word;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:345px;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:281px;
  width:375px;
  height:344px;
  text-align:left;
}
#u6010_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:363px;
  word-wrap:break-word;
}
#u6011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:407px;
  width:360px;
  height:1px;
  text-align:left;
}
#u6011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u6012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:326px;
  width:360px;
  height:1px;
  text-align:left;
}
#u6012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u6013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:495px;
  width:360px;
  height:1px;
  text-align:left;
}
#u6013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u6014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:201px;
  width:70px;
  height:25px;
}
#u6014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
