body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1894px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:52px;
  width:1440px;
  height:64px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:824px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:116px;
  width:1440px;
  height:823px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:814px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:120px;
  width:224px;
  height:813px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:815px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:120px;
  width:1181px;
  height:814px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:64px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:76px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:76px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:59px;
  width:50px;
  height:50px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:53px;
  width:40px;
  height:62px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:53px;
  width:40px;
  height:62px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:53px;
  width:40px;
  height:62px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:53px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:41px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:239px;
  width:1129px;
  height:40px;
  text-align:left;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1107px;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:55px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:122px;
  width:284px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u800_img.mouseOver {
}
#u800.mouseOver {
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:279px;
  width:1129px;
  height:90px;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:31px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:0px;
  width:224px;
  height:30px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:220px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:31px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:0px;
  width:137px;
  height:30px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:106px;
  height:30px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:0px;
  width:112px;
  height:30px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:0px;
  width:96px;
  height:30px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:0px;
  width:118px;
  height:30px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:31px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:0px;
  width:257px;
  height:30px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:253px;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:79px;
  height:30px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:31px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:30px;
  width:224px;
  height:30px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:220px;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:31px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:30px;
  width:137px;
  height:30px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:30px;
  width:106px;
  height:30px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:30px;
  width:112px;
  height:30px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:30px;
  width:96px;
  height:30px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:30px;
  width:118px;
  height:30px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:31px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:30px;
  width:257px;
  height:30px;
  text-align:left;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:253px;
  word-wrap:break-word;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:79px;
  height:30px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:31px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:60px;
  width:224px;
  height:30px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:31px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:60px;
  width:137px;
  height:30px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:60px;
  width:106px;
  height:30px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:60px;
  width:112px;
  height:30px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:60px;
  width:96px;
  height:30px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:60px;
  width:118px;
  height:30px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:31px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:60px;
  width:257px;
  height:30px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:31px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:186px;
  width:131px;
  height:30px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:186px;
  width:142px;
  height:30px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:875px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:875px;
  width:22px;
  height:22px;
  text-align:center;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:875px;
  width:22px;
  height:22px;
  text-align:center;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:875px;
  width:22px;
  height:22px;
  text-align:center;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:875px;
  width:22px;
  height:22px;
  text-align:center;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:875px;
  width:22px;
  height:22px;
  text-align:center;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:875px;
  width:22px;
  height:22px;
  text-align:center;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:876px;
  width:43px;
  height:22px;
  text-align:center;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:43px;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:876px;
  width:43px;
  height:22px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:43px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:873px;
  width:86px;
  height:26px;
  text-align:left;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:886px;
  width:8px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:886px;
  width:8px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:873px;
  width:47px;
  height:26px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:43px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:878px;
  width:106px;
  height:16px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:245px;
  width:78px;
  height:28px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:209px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:1535px;
  top:257px;
  width:359px;
  height:198px;
  color:#FFFFFF;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:339px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:156px;
  width:30px;
  height:40px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:1451px;
  top:239px;
  width:30px;
  height:40px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:95px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:1535px;
  top:496px;
  width:359px;
  height:84px;
  color:#FFFFFF;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:339px;
  word-wrap:break-word;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:33px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:1535px;
  top:615px;
  width:275px;
  height:32px;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:122px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:195px;
  width:187px;
  height:35px;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:158px;
  width:187px;
  height:35px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:232px;
  width:187px;
  height:35px;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:269px;
  width:187px;
  height:35px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:306px;
  width:187px;
  height:35px;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
