body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:880px;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:879px;
}
#u4880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u4881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u4882 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u4882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u4883 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:82px;
  width:56px;
  height:20px;
}
#u4883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u4884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u4884 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:83px;
  width:113px;
  height:16px;
}
#u4884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:99px;
}
#u4885 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:275px;
  width:360px;
  height:98px;
}
#u4885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:17px;
}
#u4886 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:285px;
  width:121px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u4886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:33px;
}
#u4887 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:308px;
  width:300px;
  height:32px;
}
#u4887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u4888 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:349px;
  width:76px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
}
#u4888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:82px;
}
#u4889 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:377px;
  width:360px;
  height:81px;
  text-align:left;
}
#u4889_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:353px;
  word-wrap:break-word;
}
#u4890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:41px;
}
#u4890 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:409px;
  width:52px;
  height:40px;
}
#u4890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:41px;
}
#u4891 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:409px;
  width:52px;
  height:40px;
}
#u4891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:41px;
}
#u4892 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:409px;
  width:52px;
  height:40px;
}
#u4892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:41px;
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:409px;
  width:60px;
  height:40px;
}
#u4893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u4894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:409px;
  width:90px;
  height:40px;
}
#u4894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u4895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:82px;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:461px;
  width:360px;
  height:81px;
  text-align:left;
}
#u4895_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:353px;
  word-wrap:break-word;
}
#u4896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:41px;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:481px;
  width:58px;
  height:40px;
}
#u4896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  word-wrap:break-word;
}
#u4897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:62px;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:542px;
  width:360px;
  height:61px;
  text-align:left;
}
#u4897_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:353px;
  word-wrap:break-word;
}
#u4898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:41px;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:552px;
  width:58px;
  height:40px;
}
#u4898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  word-wrap:break-word;
}
#u4899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:32px;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:608px;
  width:360px;
  height:31px;
  text-align:left;
}
#u4899_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:348px;
  word-wrap:break-word;
}
#u4900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:277px;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:674px;
  width:360px;
  height:276px;
  text-align:left;
}
#u4900_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:340px;
  word-wrap:break-word;
}
#u4901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:41px;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:953px;
  width:272px;
  height:40px;
  text-align:left;
}
#u4901_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:14px;
  width:220px;
  word-wrap:break-word;
}
#u4902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:39px;
}
#u4902 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:954px;
  width:118px;
  height:38px;
}
#u4902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:114px;
  word-wrap:break-word;
}
#u4903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:41px;
}
#u4903 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:409px;
  width:52px;
  height:40px;
}
#u4903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4904 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:83px;
  width:29px;
  height:16px;
}
#u4904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:151px;
}
#u4905 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:121px;
  width:362px;
  height:150px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:358px;
  word-wrap:break-word;
}
#u4906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:95px;
}
#u4906 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:849px;
  width:342px;
  height:94px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:338px;
  word-wrap:break-word;
}
#u4907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4907 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:351px;
  width:57px;
  height:16px;
}
#u4907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:41px;
}
#u4908 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:953px;
  width:88px;
  height:40px;
}
#u4908_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u4909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:88px;
}
#u4909 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:121px;
  width:267px;
  height:77px;
  color:#FFFFFF;
}
#u4909_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:247px;
  word-wrap:break-word;
}
#u4910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u4910 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:243px;
  width:22px;
  height:16px;
  text-align:right;
}
#u4910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u4911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:88px;
}
#u4911 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:275px;
  width:267px;
  height:77px;
  color:#FFFFFF;
}
#u4911_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:247px;
  word-wrap:break-word;
}
#u4912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:88px;
}
#u4912 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:377px;
  width:267px;
  height:77px;
  color:#FFFFFF;
}
#u4912_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:247px;
  word-wrap:break-word;
}
#u4913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u4913 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:465px;
  width:267px;
  height:113px;
  color:#FFFFFF;
}
#u4913_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:247px;
  word-wrap:break-word;
}
#u4914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:87px;
}
#u4914 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:608px;
  width:267px;
  height:76px;
  color:#FFFFFF;
}
#u4914_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:247px;
  word-wrap:break-word;
}
#u4915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:87px;
}
#u4915 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1047px;
  width:187px;
  height:76px;
  color:#FFFFFF;
}
#u4915_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u4916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:87px;
}
#u4916 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:947px;
  width:267px;
  height:76px;
  color:#FFFFFF;
}
#u4916_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:247px;
  word-wrap:break-word;
}
#u4917 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:196px;
  width:0px;
  height:0px;
}
#u4917_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u4917_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-40px;
  width:8px;
  height:44px;
}
#u4917_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-40px;
  width:40px;
  height:8px;
}
#u4917_seg3 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-45px;
  width:18px;
  height:18px;
}
#u4917_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4918 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:314px;
  width:0px;
  height:0px;
}
#u4918_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u4918_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:75px;
  height:8px;
}
#u4918_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-11px;
  width:18px;
  height:18px;
}
#u4918_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4919 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:420px;
  width:0px;
  height:0px;
}
#u4919_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u4919_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:72px;
  height:8px;
}
#u4919_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-11px;
  width:18px;
  height:18px;
}
#u4919_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4920 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:505px;
  width:0px;
  height:0px;
}
#u4920_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u4920_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4920_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4921 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:645px;
  width:0px;
  height:0px;
}
#u4921_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u4921_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4921_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4922 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:973px;
  width:0px;
  height:0px;
}
#u4922_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u4922_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4922_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4923 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:993px;
  width:0px;
  height:0px;
}
#u4923_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u4923_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:58px;
  height:8px;
}
#u4923_seg2 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:33px;
  width:8px;
  height:21px;
}
#u4923_seg3 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:42px;
  width:18px;
  height:18px;
}
#u4923_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1071px;
}
#u4924 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:114px;
  width:375px;
  height:1070px;
}
#u4924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u4925 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:50px;
  width:375px;
  height:64px;
}
#u4925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u4926 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:50px;
  width:375px;
  height:28px;
}
#u4926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u4927 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:82px;
  width:56px;
  height:20px;
}
#u4927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u4928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:32px;
}
#u4928 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:122px;
  width:360px;
  height:31px;
  text-align:left;
}
#u4928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:393px;
}
#u4930 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:153px;
  width:360px;
  height:392px;
  text-align:left;
}
#u4930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4932 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:175px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u4932_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u4933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u4933 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:177px;
  width:92px;
  height:32px;
}
#u4933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u4934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4934 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:219px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u4934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u4935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
}
#u4935 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:221px;
  width:127px;
  height:32px;
}
#u4935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4936 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:263px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u4936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u4937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:49px;
}
#u4937 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:265px;
  width:267px;
  height:48px;
}
#u4937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u4938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4938 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:323px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u4938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u4939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:33px;
}
#u4939 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:325px;
  width:239px;
  height:32px;
}
#u4939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u4940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4940 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:364px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u4940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u4941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:97px;
}
#u4941 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:366px;
  width:292px;
  height:96px;
}
#u4941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u4942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4942 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:472px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u4942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u4943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:65px;
}
#u4943 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:474px;
  width:239px;
  height:64px;
}
#u4943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u4944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4944 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:130px;
  width:57px;
  height:16px;
}
#u4944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u4945 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:130px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u4945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4946 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:130px;
  width:57px;
  height:16px;
}
#u4946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4947 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:130px;
  width:57px;
  height:16px;
}
#u4947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u4948 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:93px;
  width:113px;
  height:16px;
}
#u4948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4949 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:93px;
  width:29px;
  height:16px;
}
#u4949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u4950 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:93px;
  width:150px;
  height:150px;
  color:#FFFFFF;
}
#u4950_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u4951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:305px;
}
#u4951 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:545px;
  width:360px;
  height:304px;
  text-align:left;
}
#u4951_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:340px;
  word-wrap:break-word;
}
#u4952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:134px;
}
#u4952 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:849px;
  width:360px;
  height:133px;
  text-align:left;
}
#u4952_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:340px;
  word-wrap:break-word;
}
#u4953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:134px;
}
#u4953 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:982px;
  width:360px;
  height:133px;
  text-align:left;
}
#u4953_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:340px;
  word-wrap:break-word;
}
#u4954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u4954 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:1024px;
  width:50px;
  height:50px;
}
#u4954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4955 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:1034px;
  width:29px;
  height:16px;
}
#u4955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4956 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:992px;
  width:57px;
  height:16px;
  text-align:right;
}
#u4956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u4957 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:1057px;
  width:29px;
  height:17px;
}
#u4957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u4958 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:1024px;
  width:50px;
  height:50px;
}
#u4958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4959 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:1034px;
  width:29px;
  height:16px;
}
#u4959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u4960 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:1057px;
  width:57px;
  height:17px;
}
#u4960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
}
#u4961 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:1079px;
  width:113px;
  height:17px;
}
#u4961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
}
#u4962 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:1084px;
  width:113px;
  height:17px;
}
#u4962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u4963 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:195px;
  width:1px;
  height:24px;
}
#u4963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u4964 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:239px;
  width:1px;
  height:24px;
}
#u4964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u4965 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:289px;
  width:1px;
  height:24px;
}
#u4965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:22px;
}
#u4966 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:343px;
  width:1px;
  height:21px;
}
#u4966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:89px;
}
#u4967 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:384px;
  width:1px;
  height:88px;
}
#u4967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:32px;
}
#u4968 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:639px;
  width:360px;
  height:31px;
  text-align:left;
}
#u4968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u4969 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:647px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u4969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4970 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:647px;
  width:57px;
  height:16px;
}
#u4970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4971 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:647px;
  width:57px;
  height:16px;
}
#u4971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4972 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:647px;
  width:57px;
  height:16px;
}
#u4972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u4973 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:613px;
  width:40px;
  height:22px;
}
#u4973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
