body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:824px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:823px;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:814px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:813px;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:815px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:814px;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u1006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:74px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:57px;
  width:50px;
  height:50px;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:51px;
  width:40px;
  height:62px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:51px;
  width:40px;
  height:62px;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:51px;
  width:40px;
  height:62px;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:51px;
  width:40px;
  height:62px;
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:51px;
  width:40px;
  height:62px;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:120px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:157px;
  width:187px;
  height:35px;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:194px;
  width:187px;
  height:35px;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:231px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:268px;
  width:187px;
  height:35px;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:305px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:342px;
  width:187px;
  height:35px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:379px;
  width:187px;
  height:35px;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:416px;
  width:187px;
  height:35px;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:55px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:122px;
  width:284px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1025_img.mouseOver {
}
#u1025.mouseOver {
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:218px;
  width:61px;
  height:24px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:246px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:246px;
  width:29px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:285px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u1033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:285px;
  width:78px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  white-space:nowrap;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:324px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u1037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:324px;
  width:127px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:127px;
  white-space:nowrap;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:388px;
  width:61px;
  height:24px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u1039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:415px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:415px;
  width:99px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  white-space:nowrap;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:451px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:451px;
  width:43px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:551px;
  width:61px;
  height:24px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:578px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:578px;
  width:99px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  white-space:nowrap;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:611px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:611px;
  width:71px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:485px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:485px;
  width:134px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:134px;
  white-space:nowrap;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:671px;
  width:31px;
  height:24px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:744px;
  width:385px;
  height:90px;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:31px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:185px;
  height:30px;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:31px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:185px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:31px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:60px;
  width:185px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
