body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1018px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u6606 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u6606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u6607 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u6607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u6608 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u6608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u6609 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u6609_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u6610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u6610 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:81px;
  width:86px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u6610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u6611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u6611 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:83px;
  width:29px;
  height:16px;
}
#u6611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:32px;
}
#u6612 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:154px;
  width:352px;
  height:31px;
  text-align:left;
}
#u6612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:348px;
  word-wrap:break-word;
}
#u6613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:32px;
}
#u6613 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:205px;
  width:352px;
  height:31px;
  text-align:left;
}
#u6613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:348px;
  word-wrap:break-word;
}
#u6614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
}
#u6614 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:209px;
  width:76px;
  height:24px;
}
#u6614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u6615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:34px;
}
#u6615 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:258px;
  width:300px;
  height:33px;
}
#u6615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u6616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u6616 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:136px;
  width:85px;
  height:16px;
}
#u6616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u6618 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:114px;
  width:375px;
  height:603px;
}
#u6618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u6619 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:50px;
  width:375px;
  height:64px;
}
#u6619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u6620 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:50px;
  width:375px;
  height:28px;
}
#u6620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u6621 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:82px;
  width:56px;
  height:20px;
}
#u6621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u6622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u6622 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:83px;
  width:29px;
  height:16px;
}
#u6622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u6623 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:82px;
  width:86px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u6623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u6624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:32px;
}
#u6624 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:153px;
  width:352px;
  height:31px;
  text-align:left;
}
#u6624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:348px;
  word-wrap:break-word;
}
#u6625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:32px;
}
#u6625 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:204px;
  width:352px;
  height:31px;
  text-align:left;
}
#u6625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:348px;
  word-wrap:break-word;
}
#u6626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:34px;
}
#u6626 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:257px;
  width:300px;
  height:33px;
}
#u6626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u6627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u6627 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:136px;
  width:85px;
  height:16px;
}
#u6627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
