body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:894px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u6204 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u6204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u6205 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u6205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u6206 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u6206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u6207 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u6207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u6208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u6208 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:85px;
  width:29px;
  height:16px;
}
#u6208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u6209 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:83px;
  width:69px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u6209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u6210 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:40px;
}
#u6210_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:363px;
  word-wrap:break-word;
}
#u6211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u6213 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:220px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u6213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u6214 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:264px;
  width:91px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u6214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u6215 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:305px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u6215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6216 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:220px;
  width:15px;
  height:16px;
}
#u6216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6217 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:220px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6218 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:220px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6219 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:220px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6220 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:220px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6221 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:264px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6222 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:264px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6223 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:264px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6224 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:264px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6225 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:264px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6226 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:305px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6227 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:305px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6228 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:305px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6229 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:305px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6230 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:305px;
  width:15px;
  height:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
}
#u6230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u6231 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:341px;
  width:81px;
  height:31px;
}
#u6231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u6232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
}
#u6232 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:179px;
  width:106px;
  height:16px;
}
#u6232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u6234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u6234 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:114px;
  width:375px;
  height:603px;
}
#u6234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u6235 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:50px;
  width:375px;
  height:64px;
}
#u6235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u6236 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:50px;
  width:375px;
  height:28px;
}
#u6236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u6237 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:82px;
  width:56px;
  height:20px;
}
#u6237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u6238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u6238 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:85px;
  width:29px;
  height:16px;
}
#u6238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u6239 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:83px;
  width:69px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u6239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:167px;
}
#u6240 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:114px;
  width:375px;
  height:166px;
}
#u6240_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:67px;
  width:363px;
  word-wrap:break-word;
}
#u6241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u6241 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:213px;
  width:111px;
  height:31px;
}
#u6241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
