body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:1021px;
}
#u3843 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:1020px;
}
#u3843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:1004px;
}
#u3844 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:1003px;
}
#u3844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:1004px;
}
#u3845 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:1003px;
}
#u3845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:55px;
}
#u3846 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:118px;
  width:284px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u3846_img.mouseOver {
}
#u3846.mouseOver {
}
#u3846_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u3847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:115px;
}
#u3847 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:303px;
  width:1129px;
  height:114px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3847_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:1107px;
  word-wrap:break-word;
}
#u3848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:41px;
}
#u3848 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:263px;
  width:1129px;
  height:40px;
  text-align:left;
}
#u3848_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1107px;
  word-wrap:break-word;
}
#u3849 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:339px;
  width:904px;
  height:60px;
}
#u3850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3851 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:0px;
  width:113px;
  height:30px;
}
#u3851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3852 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:0px;
  width:113px;
  height:30px;
}
#u3852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3853 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:113px;
  height:30px;
}
#u3853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3854 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:0px;
  width:113px;
  height:30px;
}
#u3854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3855 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:0px;
  width:113px;
  height:30px;
}
#u3855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3856 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:0px;
  width:113px;
  height:30px;
}
#u3856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3857 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:0px;
  width:113px;
  height:30px;
}
#u3857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  height:30px;
}
#u3858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3859 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:30px;
  width:113px;
  height:30px;
}
#u3859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3860 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:30px;
  width:113px;
  height:30px;
}
#u3860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3861 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:30px;
  width:113px;
  height:30px;
}
#u3861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3862 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:30px;
  width:113px;
  height:30px;
}
#u3862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3863 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:30px;
  width:113px;
  height:30px;
}
#u3863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3864 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:30px;
  width:113px;
  height:30px;
}
#u3864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u3865 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:30px;
  width:113px;
  height:30px;
}
#u3865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:160px;
}
#u3866 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:422px;
  width:1129px;
  height:159px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3866_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:1107px;
  word-wrap:break-word;
}
#u3867 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:451px;
  width:954px;
  height:90px;
}
#u3868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u3868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3869 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:0px;
  width:119px;
  height:30px;
}
#u3869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3870 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:119px;
  height:30px;
}
#u3870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u3871 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:0px;
  width:141px;
  height:30px;
}
#u3871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u3872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u3872 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:0px;
  width:97px;
  height:30px;
}
#u3872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u3873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3873 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:0px;
  width:119px;
  height:30px;
}
#u3873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3874 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:0px;
  width:119px;
  height:30px;
}
#u3874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u3875 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:0px;
  width:121px;
  height:30px;
}
#u3875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u3876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:119px;
  height:30px;
}
#u3876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3877 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:30px;
  width:119px;
  height:30px;
}
#u3877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3878 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:30px;
  width:119px;
  height:30px;
}
#u3878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u3879 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:30px;
  width:141px;
  height:30px;
}
#u3879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u3880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u3880 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:30px;
  width:97px;
  height:30px;
}
#u3880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u3881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3881 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:30px;
  width:119px;
  height:30px;
}
#u3881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3882 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:30px;
  width:119px;
  height:30px;
}
#u3882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u3883 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:30px;
  width:121px;
  height:30px;
}
#u3883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u3884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:119px;
  height:30px;
}
#u3884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3885 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:60px;
  width:119px;
  height:30px;
}
#u3885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3886 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:60px;
  width:119px;
  height:30px;
}
#u3886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u3887 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:60px;
  width:141px;
  height:30px;
}
#u3887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u3888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u3888 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:60px;
  width:97px;
  height:30px;
}
#u3888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u3889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:60px;
  width:119px;
  height:30px;
}
#u3889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:60px;
  width:119px;
  height:30px;
}
#u3890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u3891 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:60px;
  width:121px;
  height:30px;
}
#u3891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u3892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:31px;
}
#u3892 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:540px;
  width:835px;
  height:30px;
  text-align:right;
}
#u3892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:813px;
  word-wrap:break-word;
}
#u3893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:135px;
}
#u3893 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:581px;
  width:1129px;
  height:134px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3893_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:1107px;
  word-wrap:break-word;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:617px;
  width:845px;
  height:90px;
}
#u3895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:141px;
  height:30px;
}
#u3896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u3897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:0px;
  width:100px;
  height:30px;
}
#u3897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:0px;
  width:141px;
  height:30px;
}
#u3898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u3899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3899 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:100px;
  height:30px;
}
#u3899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:31px;
}
#u3900 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:0px;
  width:263px;
  height:30px;
}
#u3900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:259px;
  word-wrap:break-word;
}
#u3901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u3901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u3902 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:141px;
  height:30px;
}
#u3902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u3903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3903 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:30px;
  width:100px;
  height:30px;
}
#u3903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u3904 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:30px;
  width:141px;
  height:30px;
}
#u3904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u3905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3905 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:30px;
  width:100px;
  height:30px;
}
#u3905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:31px;
}
#u3906 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:30px;
  width:263px;
  height:30px;
}
#u3906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:259px;
  word-wrap:break-word;
}
#u3907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u3907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u3908 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:141px;
  height:30px;
}
#u3908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u3909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3909 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:60px;
  width:100px;
  height:30px;
}
#u3909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u3910 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:60px;
  width:141px;
  height:30px;
}
#u3910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3911 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:60px;
  width:100px;
  height:30px;
}
#u3911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:31px;
}
#u3912 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:60px;
  width:263px;
  height:30px;
}
#u3912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:259px;
  word-wrap:break-word;
}
#u3913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:200px;
}
#u3913 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:722px;
  width:1129px;
  height:199px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3913_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:1107px;
  word-wrap:break-word;
}
#u3914 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:757px;
  width:200px;
  height:150px;
}
#u3915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3916 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u3916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u3917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3918 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u3918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u3919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3920 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u3920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u3921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3922 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:100px;
  height:30px;
}
#u3922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u3923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3924 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:120px;
  width:100px;
  height:30px;
}
#u3924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:174px;
}
#u3925 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:931px;
  width:1129px;
  height:173px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3925_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:1107px;
  word-wrap:break-word;
}
#u3926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3926 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:190px;
  width:35px;
  height:35px;
  color:#FFFFFF;
}
#u3926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3927_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:5px;
}
#u3927 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:207px;
  width:100px;
  height:2px;
}
#u3927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u3928 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:195px;
  width:57px;
  height:26px;
}
#u3928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u3929_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:5px;
}
#u3929 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:207px;
  width:100px;
  height:2px;
}
#u3929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u3930 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:195px;
  width:57px;
  height:26px;
}
#u3930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u3931_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:5px;
}
#u3931 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:207px;
  width:100px;
  height:2px;
}
#u3931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u3932 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:195px;
  width:57px;
  height:26px;
}
#u3932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u3933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3933 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:190px;
  width:35px;
  height:35px;
}
#u3933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:5px;
}
#u3934 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:207px;
  width:100px;
  height:2px;
}
#u3934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u3935 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:195px;
  width:57px;
  height:26px;
}
#u3935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u3936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3936 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:190px;
  width:35px;
  height:35px;
}
#u3936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u3937 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:195px;
  width:29px;
  height:26px;
}
#u3937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u3938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3938 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:191px;
  width:35px;
  height:35px;
  color:#FFFFFF;
}
#u3938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3939 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:968px;
  width:494px;
  height:150px;
}
#u3940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:191px;
  height:30px;
}
#u3941_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u3942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:31px;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:0px;
  width:203px;
  height:30px;
}
#u3942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u3943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u3943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:191px;
  height:30px;
}
#u3944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u3945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:31px;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:30px;
  width:203px;
  height:30px;
}
#u3945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u3946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u3946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:191px;
  height:30px;
}
#u3947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u3948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:31px;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:60px;
  width:203px;
  height:30px;
}
#u3948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u3949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u3949_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:191px;
  height:30px;
}
#u3950_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u3951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:31px;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:90px;
  width:203px;
  height:30px;
}
#u3951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u3952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u3952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:120px;
  width:191px;
  height:30px;
}
#u3953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u3954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:31px;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:120px;
  width:203px;
  height:30px;
}
#u3954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u3955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:190px;
  width:35px;
  height:35px;
}
#u3955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u3957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u3958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u3959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u3959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u3960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:74px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u3960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:57px;
  width:50px;
  height:50px;
}
#u3961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:51px;
  width:40px;
  height:62px;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:51px;
  width:40px;
  height:62px;
}
#u3964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:51px;
  width:40px;
  height:62px;
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:51px;
  width:40px;
  height:62px;
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
