.ax_default {
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.647058823529412);
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'黑体';
  font-weight:bold;
  font-style:normal;
  font-size:20px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
}
._二级标题 {
  font-family:'黑体';
  font-weight:bold;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
}
._三级标题 {
  font-family:'黑体';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.647058823529412);
  text-align:left;
}
._四级标题 {
  font-family:'黑体';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'黑体';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'黑体';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.647058823529412);
  text-align:left;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.table_cell {
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.647058823529412);
}
._连接线 {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
._流程形状 {
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.shape {
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.image {
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
.placeholder {
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.heading_1 {
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.iconfont {
  font-family:'iconfont Regular', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.box_1 {
}
.box_3 {
}
._形状 {
}
.image1 {
}
.placeholder1 {
}
.button {
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.primary_button {
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.link_button {
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#169BD5;
}
.ellipse {
}
.vertical_line {
}
.heading_2 {
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.box_2 {
}
.icon {
}
.horizontal_line {
}
.label {
  font-size:14px;
  text-align:left;
}
.line1 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.box_31 {
}
.line2 {
}
.ellipse1 {
}
._三级标题1 {
  font-family:'黑体';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._图片 {
}
.box_21 {
}
._形状1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_32 {
}
.flow_shape {
}
