body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u1844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:824px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:823px;
}
#u1845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:814px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:813px;
}
#u1846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:815px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:814px;
}
#u1847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:63px;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:51px;
  width:29px;
  height:62px;
}
#u1848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:29px;
  white-space:nowrap;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:63px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:51px;
  width:29px;
  height:62px;
}
#u1849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:29px;
  white-space:nowrap;
}
#u1850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:63px;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:51px;
  width:31px;
  height:62px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.847058823529412);
}
#u1850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:31px;
  white-space:nowrap;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u1851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u1852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:63px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:51px;
  width:29px;
  height:62px;
}
#u1853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:29px;
  white-space:nowrap;
}
#u1854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:63px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:51px;
  width:29px;
  height:62px;
}
#u1854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:29px;
  white-space:nowrap;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:63px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:51px;
  width:29px;
  height:62px;
}
#u1855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:29px;
  white-space:nowrap;
}
#u1856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:41px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:180px;
  width:1129px;
  height:40px;
  text-align:left;
}
#u1856_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1107px;
  word-wrap:break-word;
}
#u1857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:56px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:220px;
  width:1129px;
  height:55px;
  text-align:left;
}
#u1857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:55px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:120px;
  width:284px;
  height:54px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1858_img.mouseOver {
}
#u1858.mouseOver {
}
#u1858_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:41px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:312px;
  width:1129px;
  height:40px;
  text-align:left;
}
#u1859_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1107px;
  word-wrap:break-word;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:352px;
  width:1129px;
  height:90px;
}
#u1861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u1861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u1862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:31px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:0px;
  width:157px;
  height:30px;
}
#u1862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u1863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:119px;
  height:30px;
}
#u1863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:0px;
  width:119px;
  height:30px;
}
#u1864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:0px;
  width:119px;
  height:30px;
}
#u1865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:0px;
  width:119px;
  height:30px;
}
#u1866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:0px;
  width:119px;
  height:30px;
}
#u1867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:31px;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:0px;
  width:171px;
  height:30px;
}
#u1868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u1869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:0px;
  width:125px;
  height:30px;
}
#u1869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u1870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:81px;
  height:30px;
}
#u1870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u1871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:31px;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:30px;
  width:157px;
  height:30px;
}
#u1871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u1872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:30px;
  width:119px;
  height:30px;
}
#u1872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:30px;
  width:119px;
  height:30px;
}
#u1873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:30px;
  width:119px;
  height:30px;
}
#u1874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:30px;
  width:119px;
  height:30px;
}
#u1875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:30px;
  width:119px;
  height:30px;
}
#u1876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:31px;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:30px;
  width:171px;
  height:30px;
}
#u1877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u1878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:30px;
  width:125px;
  height:30px;
}
#u1878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u1879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:81px;
  height:30px;
}
#u1879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:31px;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:60px;
  width:157px;
  height:30px;
}
#u1880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:60px;
  width:119px;
  height:30px;
}
#u1881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:60px;
  width:119px;
  height:30px;
}
#u1882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:60px;
  width:119px;
  height:30px;
}
#u1883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:60px;
  width:119px;
  height:30px;
}
#u1884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:60px;
  width:119px;
  height:30px;
}
#u1885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:31px;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:60px;
  width:171px;
  height:30px;
}
#u1886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:60px;
  width:125px;
  height:30px;
}
#u1887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:120px;
  width:219px;
  height:35px;
}
#u1888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u1889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:157px;
  width:185px;
  height:35px;
}
#u1889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:866px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:866px;
  width:22px;
  height:22px;
  text-align:center;
}
#u1893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u1894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:866px;
  width:22px;
  height:22px;
  text-align:center;
}
#u1894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u1895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:866px;
  width:22px;
  height:22px;
  text-align:center;
}
#u1895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u1896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:866px;
  width:22px;
  height:22px;
  text-align:center;
}
#u1896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u1897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:866px;
  width:22px;
  height:22px;
  text-align:center;
}
#u1897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u1898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:866px;
  width:22px;
  height:22px;
  text-align:center;
}
#u1898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u1899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:867px;
  width:43px;
  height:22px;
  text-align:center;
}
#u1899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:43px;
  word-wrap:break-word;
}
#u1900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:867px;
  width:43px;
  height:22px;
}
#u1900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:43px;
  word-wrap:break-word;
}
#u1901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:864px;
  width:86px;
  height:26px;
  text-align:left;
}
#u1901_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:877px;
  width:8px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:877px;
  width:8px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:864px;
  width:47px;
  height:26px;
}
#u1905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:43px;
  word-wrap:break-word;
}
#u1906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:869px;
  width:113px;
  height:16px;
  text-align:right;
}
#u1906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
