body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u4657 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u4657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u4658 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u4658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u4659 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u4659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u4660 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u4660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u4661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4661 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:88px;
  width:29px;
  height:16px;
}
#u4661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u4662 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:79px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u4662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:35px;
}
#u4663 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:34px;
}
#u4663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  word-wrap:break-word;
}
#u4664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:81px;
}
#u4664 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:196px;
  width:300px;
  height:80px;
}
#u4664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:296px;
  word-wrap:break-word;
}
#u4665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:38px;
}
#u4665 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:276px;
  width:148px;
  height:37px;
}
#u4665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u4666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u4666 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:276px;
  width:152px;
  height:37px;
}
#u4666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u4667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:129px;
}
#u4667 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:50px;
  width:287px;
  height:118px;
  color:#FFFFFF;
}
#u4667_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u4669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u4669 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:114px;
  width:375px;
  height:603px;
}
#u4669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u4670 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:50px;
  width:375px;
  height:64px;
}
#u4670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u4671 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:50px;
  width:375px;
  height:28px;
}
#u4671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u4672 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:82px;
  width:56px;
  height:20px;
}
#u4672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u4673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4673 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:88px;
  width:29px;
  height:16px;
}
#u4673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u4674 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:79px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u4674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u4675 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:114px;
  width:375px;
  height:53px;
  text-align:left;
}
#u4675_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
