body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u1587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u1588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u1589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u1590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u1591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:41px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:676px;
  width:373px;
  height:40px;
}
#u1591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  word-wrap:break-word;
}
#u1592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:80px;
  width:65px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:105px;
  width:375px;
  height:40px;
  text-align:left;
}
#u1593_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:113px;
  width:285px;
  height:25px;
}
#u1594_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:145px;
  width:375px;
  height:40px;
  text-align:left;
}
#u1595_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:153px;
  width:285px;
  height:25px;
}
#u1596_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:185px;
  width:375px;
  height:40px;
  text-align:left;
}
#u1597_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u1598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:199px;
  width:43px;
  height:16px;
}
#u1598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:225px;
  width:375px;
  height:40px;
  text-align:left;
}
#u1599_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:233px;
  width:285px;
  height:25px;
}
#u1600_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:82px;
  width:29px;
  height:16px;
}
#u1601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
