body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:627px;
  width:89px;
  height:40px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:9px;
  width:57px;
  white-space:nowrap;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:627px;
  width:89px;
  height:40px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:9px;
  width:57px;
  white-space:nowrap;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:666px;
  width:325px;
  height:1px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:627px;
  width:61px;
  height:40px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:22px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:9px;
  width:29px;
  white-space:nowrap;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:627px;
  width:89px;
  height:40px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:9px;
  width:57px;
  white-space:nowrap;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:627px;
  width:61px;
  height:40px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:9px;
  width:29px;
  white-space:nowrap;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:591px;
  width:78px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  white-space:nowrap;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:207px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:668px;
  width:772px;
  height:206px;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:677px;
  width:91px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
