body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5901 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u5901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:96px;
}
#u5902 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:95px;
}
#u5902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:61px;
}
#u5903 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:114px;
  width:344px;
  height:50px;
  text-align:left;
}
#u5903_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:17px;
  width:282px;
  word-wrap:break-word;
}
#u5904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
}
#u5904 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:174px;
  width:344px;
  height:23px;
  text-align:left;
}
#u5904_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:4px;
  width:327px;
  word-wrap:break-word;
}
#u5905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:73px;
}
#u5905 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:197px;
  width:344px;
  height:62px;
}
#u5905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u5907 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:213px;
  width:60px;
  height:30px;
}
#u5907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u5908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u5908 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:213px;
  width:60px;
  height:30px;
}
#u5908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u5909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u5909 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:213px;
  width:60px;
  height:30px;
}
#u5909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u5910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u5910 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:122px;
  width:35px;
  height:35px;
}
#u5910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u5911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5911 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u5911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u5912 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u5912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u5913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:41px;
}
#u5913 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:269px;
  width:344px;
  height:30px;
  text-align:left;
}
#u5913_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:327px;
  word-wrap:break-word;
}
#u5914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:44px;
}
#u5914 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:567px;
  width:185px;
  height:43px;
}
#u5914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:181px;
  word-wrap:break-word;
}
#u5915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:49px;
}
#u5916 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:669px;
  width:375px;
  height:48px;
}
#u5916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u5917 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:676px;
  width:63px;
  height:35px;
  color:#FFFFFF;
}
#u5917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u5918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u5918 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:676px;
  width:63px;
  height:35px;
  color:#FFFFFF;
}
#u5918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u5919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5919 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:129px;
  width:29px;
  height:16px;
}
#u5919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u5920 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:78px;
  width:69px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u5920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:41px;
}
#u5921 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:309px;
  width:344px;
  height:30px;
  text-align:left;
}
#u5921_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:327px;
  word-wrap:break-word;
}
