body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u3835 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u3835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:96px;
}
#u3836 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:95px;
}
#u3836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:61px;
}
#u3837 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:114px;
  width:344px;
  height:50px;
  text-align:left;
}
#u3837_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:17px;
  width:282px;
  word-wrap:break-word;
}
#u3838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
}
#u3838 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:174px;
  width:344px;
  height:23px;
  text-align:left;
}
#u3838_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:4px;
  width:327px;
  word-wrap:break-word;
}
#u3839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:73px;
}
#u3839 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:197px;
  width:344px;
  height:62px;
}
#u3839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u3841 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:213px;
  width:60px;
  height:30px;
}
#u3841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u3842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u3842 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:213px;
  width:60px;
  height:30px;
}
#u3842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u3843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u3843 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:213px;
  width:60px;
  height:30px;
}
#u3843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u3844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u3844 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:122px;
  width:35px;
  height:35px;
}
#u3844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u3845 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u3845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u3846 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u3846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u3847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:41px;
}
#u3847 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:269px;
  width:344px;
  height:30px;
  text-align:left;
}
#u3847_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:327px;
  word-wrap:break-word;
}
#u3848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:44px;
}
#u3848 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:567px;
  width:185px;
  height:43px;
}
#u3848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:181px;
  word-wrap:break-word;
}
#u3849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:49px;
}
#u3850 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:669px;
  width:375px;
  height:48px;
}
#u3850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u3851 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:676px;
  width:63px;
  height:35px;
  color:#FFFFFF;
}
#u3851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u3852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u3852 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:676px;
  width:63px;
  height:35px;
  color:#FFFFFF;
}
#u3852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u3853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u3853 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:129px;
  width:29px;
  height:16px;
}
#u3853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u3854 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:78px;
  width:69px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u3854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
