body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5046 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u5046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5047 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u5047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5048 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u5048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u5049 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u5049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u5050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:41px;
}
#u5050 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:676px;
  width:373px;
  height:40px;
}
#u5050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  word-wrap:break-word;
}
#u5051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u5051 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:80px;
  width:65px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u5051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5052 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:105px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5052_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5053 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:113px;
  width:285px;
  height:25px;
}
#u5053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5054 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:145px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5054_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5055 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:153px;
  width:285px;
  height:25px;
}
#u5055_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5056 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:185px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5056_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u5057 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:199px;
  width:43px;
  height:16px;
}
#u5057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5058 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:225px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5058_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5059 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:233px;
  width:285px;
  height:25px;
}
#u5059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5060 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:82px;
  width:29px;
  height:16px;
}
#u5060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5062 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:114px;
  width:375px;
  height:603px;
}
#u5062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5063 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:50px;
  width:375px;
  height:64px;
}
#u5063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5064 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:50px;
  width:375px;
  height:28px;
}
#u5064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u5065 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:82px;
  width:56px;
  height:20px;
}
#u5065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u5066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:41px;
}
#u5066 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:676px;
  width:373px;
  height:40px;
}
#u5066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  word-wrap:break-word;
}
#u5067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u5067 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:80px;
  width:65px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u5067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5068 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:105px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5068_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5069 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:113px;
  width:285px;
  height:25px;
}
#u5069_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:rgba(51, 51, 51, 0.647058823529412);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5070 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:145px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5070_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5071 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:153px;
  width:285px;
  height:25px;
}
#u5071_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:rgba(51, 51, 51, 0.647058823529412);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5072 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:185px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5072_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u5073 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:199px;
  width:43px;
  height:16px;
}
#u5073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5074 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:225px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5074_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5075 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:233px;
  width:285px;
  height:25px;
}
#u5075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:rgba(51, 51, 51, 0.647058823529412);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5076 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:82px;
  width:29px;
  height:16px;
}
#u5076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
