body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5924 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:375px;
  height:603px;
}
#u5924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5925 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u5925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5926 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u5926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u5927 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:82px;
  width:56px;
  height:20px;
}
#u5927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u5928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:41px;
}
#u5928 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:676px;
  width:373px;
  height:40px;
}
#u5928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  word-wrap:break-word;
}
#u5929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u5929 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:80px;
  width:65px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u5929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5930 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:105px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5930_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5931 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:113px;
  width:285px;
  height:25px;
}
#u5931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5932 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:145px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5932_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5933 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:153px;
  width:285px;
  height:25px;
}
#u5933_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5934 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:185px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5934_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u5935 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:199px;
  width:43px;
  height:16px;
}
#u5935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5936 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:225px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5936_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5937 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:233px;
  width:285px;
  height:25px;
}
#u5937_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5938 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:82px;
  width:29px;
  height:16px;
}
#u5938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5940 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:114px;
  width:375px;
  height:603px;
}
#u5940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u5941 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:50px;
  width:375px;
  height:64px;
}
#u5941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5942 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:50px;
  width:375px;
  height:28px;
}
#u5942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u5943 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:82px;
  width:56px;
  height:20px;
}
#u5943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u5944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:41px;
}
#u5944 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:676px;
  width:373px;
  height:40px;
}
#u5944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  word-wrap:break-word;
}
#u5945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u5945 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:80px;
  width:65px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u5945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5946 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:105px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5946_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5947 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:113px;
  width:285px;
  height:25px;
}
#u5947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:rgba(51, 51, 51, 0.647058823529412);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5948 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:145px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5948_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5949 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:153px;
  width:285px;
  height:25px;
}
#u5949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:rgba(51, 51, 51, 0.647058823529412);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5950 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:185px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5950_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u5951 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:199px;
  width:43px;
  height:16px;
}
#u5951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u5952 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:225px;
  width:375px;
  height:40px;
  text-align:left;
}
#u5952_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u5953 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:233px;
  width:285px;
  height:25px;
}
#u5953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:rgba(51, 51, 51, 0.647058823529412);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5954 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:82px;
  width:29px;
  height:16px;
}
#u5954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
