body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:824px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:823px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:814px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:813px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:815px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:814px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:74px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:57px;
  width:50px;
  height:50px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:51px;
  width:40px;
  height:62px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:51px;
  width:40px;
  height:62px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:51px;
  width:40px;
  height:62px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:51px;
  width:40px;
  height:62px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:442px;
  width:672px;
  height:120px;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:0px;
  width:96px;
  height:30px;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:120px;
  height:30px;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:0px;
  width:202px;
  height:30px;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:0px;
  width:86px;
  height:30px;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:0px;
  width:107px;
  height:30px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:61px;
  height:30px;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:30px;
  width:96px;
  height:30px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:30px;
  width:120px;
  height:30px;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:30px;
  width:202px;
  height:30px;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:30px;
  width:86px;
  height:30px;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:30px;
  width:107px;
  height:30px;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:61px;
  height:30px;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:60px;
  width:96px;
  height:30px;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:60px;
  width:120px;
  height:30px;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:60px;
  width:202px;
  height:30px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:60px;
  width:86px;
  height:30px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:60px;
  width:107px;
  height:30px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:61px;
  height:30px;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:90px;
  width:96px;
  height:30px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:90px;
  width:120px;
  height:30px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:90px;
  width:202px;
  height:30px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:90px;
  width:86px;
  height:30px;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:90px;
  width:107px;
  height:30px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:416px;
  width:57px;
  height:16px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:178px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:33px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:213px;
  width:440px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:246px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:33px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:281px;
  width:440px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:315px;
  width:71px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:33px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:350px;
  width:440px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:55px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:122px;
  width:284px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u883_img.mouseOver {
}
#u883.mouseOver {
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:120px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:157px;
  width:187px;
  height:35px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:194px;
  width:187px;
  height:35px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:231px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:268px;
  width:187px;
  height:35px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:305px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:342px;
  width:187px;
  height:35px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:379px;
  width:187px;
  height:35px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:416px;
  width:187px;
  height:35px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:416px;
  width:57px;
  height:16px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
